
#Nvim ignores
**/plugin/
**/*.swp
**/*.swo
**/*.bak
**/*.tmp
**/*~
**/session.vim
**/view/
**/shada/
**/undo/
**/swap/
**/backup/
**/*.o
**/*.so
**/*.a
**/*.pyc
**/__pycache__/

#Zsh & Kitty ignores


#ignore global config
**/.gitignore_global
**/build/
**/dist/
**/node_modules/


